# Virtual Environment - TUMHARA EXACT NAAM
phishing_env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Model files (optional - agar 100MB se bade ho to)
# models/*.pkl
# models/*.joblib

# Data files (optional)
data/*.csv
data/*.xlsx
data/*.txt

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# VS Code
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# CatBoost temp files
notebooks/catboost_info/
catboost_info/